<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <link rel="stylesheet" type="text/css" href="/css/commons.css">
    <link rel="stylesheet" type="text/css" href="/css/internal-server-error.css">
    <script src="https://kit.fontawesome.com/f4eab0c21e.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-background">
    <header th:replace="~{fragments/commons::header}"></header>
</div>

<section class="container-server-error">
    <section class="text-server-error">
        <h1>Shoot!</h1>
        <p>We apologize for the inconvenience. Please try again later.</p>
        <p class="status-code">Error code 500</p>
    </section>
    <section class="png-server-error">
        <img src="/images/image-from-rawpixel-id-16884223-png.png" alt="Dog photo">
    </section>
</section>
<footer class="same-background" th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>