<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <script src="https://kit.fontawesome.com/f4eab0c21e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/commons.css">
    <link rel="stylesheet" type="text/css" href="/css/user-profile.css">
</head>
<body>

<header th:replace="~{fragments/commons::header}"></header>

<article class="main-container">
    <article class="profile-main-info">
        <section class="profile-picture">
            <img th:src="${#strings.isEmpty(user.profilePicture) ?
            'https://images.icon-icons.com/3298/PNG/512/ui_user_profile_avatar_person_icon_208734.png'
            : user.profilePicture}" alt="Profile picture">
        </section>
        <section class="info">
            <section class="user-info">
                <h2 th:text="${user.firstName} + ' ' + ${user.lastName}"></h2>
                <p><i class="fa-solid fa-user"></i> <span th:text="'Username: ' + ${user.username}"></span></p>
                <p><i class="fa-solid fa-globe"></i> <span
                        th:text="'Country: ' + ${T(app.util.StringFormatter).formatCountries(user.country)}"></span></p>
                <p><i class="fa-solid fa-envelope"></i>
                    <span th:text="${'Email: ' + user.email}"></span>
                </p>
            </section>
            <form class="edit-profile" th:action="@{'/' + ${user.id} + '/profile/edit'}" th:method="get">
                <button type="submit">EDIT</button>
            </form>
            <section class="created-profile">
                <p th:text="'Created profile: ' + ${#temporals.format(user.createdOn, 'dd-MM-yyyy HH:mm')}"></p>
            </section>
        </section>
    </article>
</article>
<footer class="same-background" th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>