
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <script src="https://kit.fontawesome.com/f4eab0c21e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/commons.css">
    <link rel="stylesheet" type="text/css" href="/css/adoption-requests.css">
</head>
<body>

<header th:replace="~{fragments/commons::header}"></header>

<article class="main-container">
        <section class="header-pending-pets">
            <h2>My adoption requests <i class="fas fa-paw"></i></h2>
        </section>
    <article class="pets-pending" th:unless="${#lists.isEmpty(requests)}">
        <section class="pet-requested" th:each="adoption : ${requests}">
            <section class="pet-requested pet" th:each="pet : ${adoption.pet}">
                <section class="pet-requested-photo">
                    <img th:src="${pet.picture}" alt="Pet picture">
                </section>
                <section class="pet-requested-info">
                    <p class="name-pet" th:text="${pet.name}"></p>
                    <p th:text="'Adoption requested by: ' + ${user.firstName}"></p>
                    <p th:text="'Request date: ' + ${#temporals.format(adoption.requestedOn, 'dd MMM, yyyy HH:mm', #locale.ENGLISH)}"></p>
                    <p th:if="${adoption.requestStatus.name() == 'PENDING'}" class="pending-request" th:text="'Request being reveiwed'"></p>
                    <p th:if="${adoption.requestStatus.name() == 'REJECTED'}" class="rejected-request" th:text="'Request is rejected'"></p>
                    <a class="more-info-pet" th:href="@{'/pets-for-adoption/' + ${pet.id} + '/info'}" th:text="'More info about ' + ${pet.name}"></a>
                </section>
            </section>
        </section>
    </article>

    <article class="none-adoptions">
        <section th:if="${#lists.isEmpty(requests)}">
            <p>You do not have adoption requests</p>
        </section>
    </article>
</article>

<footer class="same-background" th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
