<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PawFinder</title>
    <script src="https://kit.fontawesome.com/f4eab0c21e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/commons.css">
    <link rel="stylesheet" type="text/css" href="/css/user-transactions.css">
</head>
<body>

<header th:replace="~{fragments/commons::header}"></header>

<article class="transactions">
    <table th:unless="${#lists.isEmpty(transactions)}">
        <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Balance left</th>
            <th>Status</th>
            <th>Description</th>
            <th>Created on</th>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td class="id" th:text="${transaction.id}"></td>
            <td class="id" th:text="${transaction.sender}"></td>
            <td class="id" th:text="${transaction.receiver}"></td>
            <td th:text="${'€' + transaction.amount}"></td>
            <td th:text="${'€' + transaction.balanceLeft}"></td>
            <td th:text="${#strings.capitalize(#strings.toLowerCase(transaction.status))}"></td>
            <td th:if="${transaction.status.name() == 'SUCCEEDED'}" th:text="${transaction.description}"></td>
            <td th:if="${transaction.status.name() == 'FAILED'}" th:text="${transaction.failureReason}"></td>
            <td th:text="${#temporals.format(transaction.createdOn, 'dd-MM-yyyy HH:mm')}"></td>
        </tr>
    </table>

    <table th:if="${#lists.isEmpty(transactions)}">
        <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Amount</th>
            <th>Balance left</th>
            <th>Status</th>
            <th>Description</th>
            <th>Created on</th>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </table>
</article>

<footer class="same-background" th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>